.Header {
  --icon-height: 50px;

  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;

  padding: 10px;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--app-main-color);
}

.Header__information-container {
  display: flex;
  align-items: center;
}

.Header__container {
  display: flex;
  width: var(--page-width);
  align-items: center;
  justify-content: space-between;
}